.table {
	height: 400px;
	width: 80%;
	position: relative;
	top: 50px;
	left: 10%;
	border: 1px solid black;
	border-radius: 10px;
}

.toggles {
	min-width: 7rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.conflicts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.combinations {
    	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.alt {
	position: relative;
	width: 80%;
	top: 50px;
	left: 10%;
	display: flex;
    gap: 2rem;
}
.hline {
	height: 1px;
	width: 100%;
	border-bottom: 1px dashed black;
}

.vline {
	height: 100%;
	width: 1px;
	border-right: 1px dashed black;
}
